page-gmateriales {

    .toolbar-background{
        background-color: #B50000;
    }
    .toolbar-title{
        color:#fff;
        font-weight:normal;
    }
    .back-button{
        color:#fff;
    }
}
