page-inicio {
    .logo_i{
        height:25px; 
         width:25px;  
         margin-left:70%;
         
    }
    .toolbar-background{
        background-color: #B50000;
    }
    .toolbar-title{
        color:#fff;
        font-weight:normal;
    }
    .back-button{
        color:#fff;
    }
}
